<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div ng-app="calcularApp">
        <div data-ng-controller="calcularCtrl">
            <h1>EJERCICIO 1 - EMPRESA MULTIPLAN</h1>
            <label >Escribe los KM</label><br>
            <input type="number" data-ng-model="distancia"><br>
            <input type="number" data-ng-model="precio"><br>
            <button data-ng-click="CalcularTotal()">Calcular Pago Neto</button>
            precio : {{ precio }}
        </div>   
        </div>
    <script src="form.js"></script>
</body>
</html>